html,
body {
    font-synthesis: none;
    --sash-size: 4px;
    font-family: "Segoe UI", "Segoe UI Web (West European)", "Segoe UI", -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
    font-size: 14px;    
    -webkit-font-smoothing: antialiased;
    margin: 0px;
    box-shadow: none;    
    box-sizing: border-box;
}

.root-3 {
    align-items: stretch;    
    background: rgb(255, 255, 255);
    border: 1px solid rgb(96, 94, 92);
    border-radius: 2px;
    color: rgb(50, 49, 48);
    cursor: text;    
    display: flex;    
    flex-direction: row;    
    font-weight: 400;
    height: 32px;   
    line-height: 20px;
    padding: 0px;
    position: relative;
}

.root-2 {
    color: rgb(50, 49, 48);
    display: block;
    font-weight: 600;
    line-height: 20px;
    padding: 5px 0px;
    padding-top: 0;
    overflow-wrap: break-word;
}

.root-1 {
    font-weight: 400;
    border-radius: 0px;
    border: none;
    background: none transparent;
    color: rgb(50, 49, 48);
    min-width: 0px;    
    outline: 0px;
    padding: 0px 8px;
    text-overflow: ellipsis;
    width: 90%;
}